
@Html.React("Components.RootComponent", new
{
  someProp = "some value from .NET"
})
<!DOCTYPE html>
<html>
<head> 
</head>
<body>
    @RenderBody()
    <script src="/Scripts/dist/runtime.js"></script>
    <script src="/Scripts/dist/vendor.js"></script>
    <script src="/Scripts/dist/main.js"></script>
    @Html.ReactInitJavaScript()
</body>
</html>
